<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="~{fragments :: page-head}">
    </head>
    <body>
        <nav th:replace="~{fragments :: header}"></nav>
        <div class="container">
            <div class="scripty">
                <p>Throughout human history, animals have been imbued with properties and meaning, ranging from symbolizing cleverness to being the living embodiment of a deity. This is a <i>brief</i> overview of some common (& uncommon) animals, & the concepts, elements, astrological bodies & events, & deities associated with them. This list is NOT exhaustive, & you may not agree with everything you see here. Remember, this is <b>MY</b> Grimoire. If you don't like something, then don't put it in <b><i>yours.</i></b></p>
            </div>
            <div>
                <table th:each="animal : ${animals}">
                    <tr>
                        <th scope="col"><a th:href="@{'/animals/view/' + ${animal.id}}" th:text="${animal.name}" ></a></th>
                        <th scope="col">Concepts</th>
                        <th scope="col">Elements</th>
                        <th scope="col">Astrological</th>
                        <th scope="col">Deities</th>
                    </tr>
                    <tr>
                        <td class="image">
                            <figure>
                                <img th:src="@{'/images/animals/' + ${animal.name} + '.jpg'}" th:alt="'Photo of ' + ${animal.name} + ' ' + ${animal.imgAlt}" width="200px" />
                                <figcaption class="caption" th:utext="'Photo by ' + ${animal.imgCaption}"></figcaption>
                            </figure>
                        </td>
                        <td th:text="${animal.concepts}"></td>
                        <td th:text="${animal.elements}"></td>
                        <td th:text="${animal.astrology}"></td>
                        <td>
                            <ul>
                                <li>Deity placeholder</li>
<!--                                <li th:each="deity : ${animal.deities}">-->
<!--                                    <a th:href="@{'/deities/view/' + ${animal.deity.id}}" th:text="${animal.deity.name}"></a>-->
<!--                                </li>-->
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>