<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="~{fragments :: page-head}">
    </head>
    <body>
        <nav th:replace="~{fragments :: header}"></nav>
        <div class="container">
            <div>
                <table>
                    <tr>
                        <th scope="col" th:text="${animal.name}">Name</th>
                        <th scope="col">Concepts</th>
                        <th scope="col">Elements</th>
                        <th scope="col">Astrological</th>
                        <th scope="col">Deities</th>
                    </tr>
                    <tr>
                        <td class="image">
                            <figure>
                                <img th:src="@{'/images/animals/' + ${animal.name} + '.jpg'}" th:alt="'Photo of ' + ${animal.name} + ' ' + ${animal.imgAlt}" width="200px" />
                                <figcaption class="caption" th:utext="'Photo by ' + ${animal.imgCaption}"></figcaption>
                            </figure>
                        </td>
                        <td>
                            <ul th:each="concept : ${animal.concepts}">
                                <a th:href="@{'/concepts/view' + ${animal.concept.id}" th:text="${animal.concept.name}"data-bs-toggle="tootltip" title="${animal.concept.meaning}"></a>
                            </ul>
                        </td>
                        <td th:text="${animal.elements}"></td>
                        <td th:text="${animal.astrology}"></td>
                        <td>
                            <ul>
                                <li th:each="deity : ${animal.deities}">
                                    <a th:href="@{'/deities/view/' + ${animal.deity.id}}" th:text="${animal.deity.name}"></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>