<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="head">
</head>
<body>
    <div class="blurb">
        <p>Animals have represented concepts, Deities, and abstract ideas throughout history. This is a brief overview of some of those representations.</p>
    </div>
    <div>
        <table class="correspondence-table" th:each="animal : ${animals}">
            <th>
                <td>Name</td>
                <td>Concepts</td>
            </th>
            <tr>
                <td th:text="${animal.name}"></td>
                <td th:text="${animal.concepts}"></td>
            </tr>
        </table>
    </div>
</body>
</html>