<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="~{fragments :: page-head}"></head>
    <body>
        <nav th:replace="~{fragments :: header}"></nav>
        <div class="container">
            <form method="post">
                <div class="form-group">
                    <label class="scripty" th:for="name">Color Name</label>
                    <input class="form-control" th:field="${color.name}" />
                    <span th:errors="${color.name}" class="error"></span>
                </div>
                <div class="form-group">
                    <label class="scripty" th:for="concepts">Concepts: </label>
                    <th:block th:each="concept : ${concepts}">
                        <input type="checkbox" name="concepts" th:value="${concept.id}">
                        <label class="scripty" th:text="${concept.name}"></label>
                    </th:block>
                    <a th:href="@{/concepts/add}">Add Concepts</a>
                </div>
                <div class="form-group">
                    <label class="scripty" th:for="elements">Elements</label>
                    <input class="form-control" th:field="${color.elements}" />
                    <span th:errors="${color.elements}" class="error"></span>
                </div>
                <div class="form-group">
                    <label class="scripty" th:for="astrology">Astrological</label>
                    <input class="form-control" th:field="${color.astrology}" />
                    <span th:errors="${color.astrology}" class="error"></span>
                </div>
                <div class="form-group">
                    <label class="scripty" th:for="imgAlt">Image Alt Text</label>
                    <input class="form-control" th:field="${color.imgAlt}" />
                    <span th:errors="${color.imgAlt}" class="error"></span>
                </div>
                <div class="form-group">
                    <label class="scripty" th:for="imgCaption">Image Caption Text</label>
                    <input class="form-control" th:field="${color.imgCaption}" />
                    <span th:errors="${color.imgCaption}" class="error"></span>
                </div>
        
                <input class="scripty" type="submit" value="Add Color" />
            </form>
        </div>
    </body>
</html>