<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="~{fragments :: page-head}"></head>
    <body>
        <nav th:replace="~{fragments :: header}"></nav>
        <div class="container">
            <div>
                <table>
                    <tr>
                        <th scope="col" th:text="${color.name}">Name</th>
                        <th scope="col">Concepts</th>
                        <th scope="col">Elements</th>
                        <th scope="col">Astrological</th>
                    </tr>
                    <tr>
                        <td class="image">
                            <figure>
                                <img th:src="@{'/images/colors/' + ${color.name} + '.jpg'}" th:alt="'Image of ' + ${color.name}" width="200px" />
                                <figcaption class="caption" th:utext="'${color.name}"></figcaption>
                            </figure>
                        </td>
                        <td>
                            <ul th:each="concept : ${color.concepts}">
                                <a th:href="@{'/concepts/view' + ${color.concept.id}" th:text="${color.concept.name}"data-bs-toggle="tootltip" title="${color.concept.meaning}"></a>
                            </ul>
                        </td>
                        <td th:text="${color.elements}"></td>
                        <td th:text="${color.astrology}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>