<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="page-head">
    <meta charset="UTF-8"/>
    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
   </style>
    <title th:text="${title}">Title</title>
</head>
<body>
    <nav th:fragment="header" class="navbar navbar-expand-md navbar-sticky-top navbar-dark bg-dark scripty">
        <ul class="container">
            <a th:href="@{/}" class="navbar-brand">Grimoire</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul id="main_nav" class="collapse navbar-collapse">
                 <ul class="navbar-nav">
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                             Animals
                         </a>
                        <ul>
                            <li><a th:href="@{/animals/index}">All Animals</a></li>
                            <li><a th:href="@{/animals/add}">Add an Animal</a></li>
                        </ul>
                     </li>
                     <li class="nav-item"><a th:href="@{/animals/add}">Add Animal</a></li>
                     <li class="nav-item"><a th:href="@{/deities/index}">Deities</a></li>
                     <li class="nav-item"><a th:href="@{/plants/index}">Plants</a></li>
                     <li class="nav-item"><a th:href="@{/stones/index}">Stones</a></li>
                     <li class="nav-item"><a th:href="@{/times/index}">Time</a></li>
                     <li></li>
                    <li class="nav-item"><a th:href="@{/protection/index}">Protection</a></li>
                    <li class="nav-item"><a th:href="@{/self-help/index}">Self-Help</a></li>
                    <li class="nav-item"><a th:href="@{/hexes/index}">Hexes</a></li>
                </ul>
            </ul>
        </ul>
    <!--        Not sure how to code Search to check 7+ repositories. Can't build a custom Google Search without an actual domain.-->
    <!--        <form class="d-flex">-->
    <!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
    <!--        </form>-->
        </div>
    </nav>
</body>
</html>